.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 14px 24px;
  background: rgb(75, 54, 25);
}

.logo {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}